.grid-table {
	display: grid;
	grid-template-columns: 0.75fr 2fr 4fr 1fr 1fr 1fr;
	border-top: 1px solid black;
	border-right: 1px solid black;
	margin-bottom: 0.5em;
}

.grid > span {
	padding: 8px 4px;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
}