@{
    ViewBag.Title = "Home";
}
@model IPagedList<ProductResponse>


<div class="col px-0">

    <form data-ajax="true" data-ajax-update="#ProductsPageContainer" asp-action="Index" asp-controller="Products" class="d-flex" id="SearchByForm" method="post" style="width: 60%;">
        Filter
        <input class="form-control me-2" type="search" placeholder="Product Name" aria-label="Search" name="ProductName">
        <input class="form-control me-2" type="search" placeholder="Product Price" aria-label="Search" name="ProductPrice" >
        <input class="form-control me-2" type="search" placeholder="Category Name" aria-label="Search" name="CategoryName">
        
        <button class="btn btn-primary">Search</button>
    </form>


    <div id="ProductsPageContainer" >
        @Html.Partial("_ProductsPage", Model)
    </div>

</div>

