@model List<SessionOrder>


<div class="col px-0" id="CardProductsContainer">


    @Html.Partial("_OrderCard", Model)



</div>

<a href="~/Customers/Index"><button type="button" class="btn btn-danger customerIndex">Fill personal info</button></a>

