@model List<SessionOrder>


<div class="col px-0" id="CardProductsContainer">


    @Html.Partial("_OrderCard", Model)



</div>
<a href="~/Products/CreateCustomer"><button type="button" class="btn btn-danger">Fill personal info</button></a>
